<h1>This notebook retrieves from ES the info from jobs_archive to study tasks with extremely short or long walltimes</h1>

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import re
import json
from elasticsearch import Elasticsearch, exceptions as es_exceptions
from elasticsearch.helpers import scan
from pandas.io.json import json_normalize
from IPython.display import display
from pandas import HDFStore,DataFrame
import pandas as pd
from datetime import datetime, timedelta
#import datetime

%matplotlib inline

<h2>Retrieve all job indexes from ES</h2>

In [14]:
#define function to filter on time
def time_filter(indices, last_days=1, pattern=''):
    if last_days == 0:
        return ["jobs_archive_*"]
    filtered = []
    if pattern:
        for i in indices:
            if pattern in i:
                filtered.append(i.rstrip())
        return filtered
    today = datetime.today().date()
    filtered = []
    datefmt = '%Y-%m-%d'
    for i in indices:
        day = re.sub(r'jobs_archive_', '', i).rstrip()
        #print(day)
        if '_reindexed' in day:
            day = re.sub(r'_reindexed', '', day).lstrip()        
        day = datetime.strptime(day, datefmt).date()
        diff = today - day
        if diff.days < last_days:
            filtered.append(i.rstrip())
    return filtered

In [15]:
es = Elasticsearch(hosts=[{'host':'atlas-kibana.mwt2.org', 'port':9200}],timeout=60)

#get job archive indices from ES
indices = es.cat.indices(index="jobs_archive_*", h="index", request_timeout=600).split('\n')
indices = sorted(indices)
indices = [x for x in indices if x != '']
if 'jobs_archive_2016_status' in indices:
    indices.remove('jobs_archive_2016_status')
#remove data due to central problem
#if 'jobs_archive_2016-12-29' in indices:
#    indices.remove('jobs_archive_2016-12-29')
#print(indices)

<h2>Retrieve job archives of interest from ES</h2>

In [16]:
#define function to create jobs object from scroll
def jobs_list(scroll, max=-1):
  
    i = 0   
    jobs = []
    
    for result in scroll:
        #print(result['_source']['pandaid'])
        #print_info(result)
        if (max<0):
            jobs.append(result)
        else:
            if (i<max):
                jobs.append(result)
        #if i<1: print_info(result)
        i = i+1
        if not i%100000:  
            print('processing hit '+str(i)+'...')

    return jobs

In [17]:
# retrieve job info from last 30 days
# use e.g. last_days=7 or pattern='2016-02' (no wildcard !)
NDAYS=30  #NDAYS=150 #NDAYS=''
PATTERN='' #PATTERN = '2016-03' #PATTERN=''
ind = time_filter(indices, last_days=NDAYS, pattern=PATTERN)
ind = ','.join(ind)
print(ind)

jobs_archive_2017-09-13,jobs_archive_2017-09-14,jobs_archive_2017-09-15,jobs_archive_2017-09-16,jobs_archive_2017-09-17,jobs_archive_2017-09-18,jobs_archive_2017-09-19,jobs_archive_2017-09-20,jobs_archive_2017-09-21,jobs_archive_2017-09-22,jobs_archive_2017-09-23,jobs_archive_2017-09-24,jobs_archive_2017-09-25,jobs_archive_2017-09-26,jobs_archive_2017-09-27,jobs_archive_2017-09-28,jobs_archive_2017-09-29,jobs_archive_2017-09-30,jobs_archive_2017-10-01,jobs_archive_2017-10-02,jobs_archive_2017-10-03,jobs_archive_2017-10-04,jobs_archive_2017-10-05,jobs_archive_2017-10-06,jobs_archive_2017-10-07,jobs_archive_2017-10-08,jobs_archive_2017-10-09,jobs_archive_2017-10-10,jobs_archive_2017-10-11,jobs_archive_2017-10-12

<h2>Retrieve jobs of interest from ES</h2>

In [18]:
def queryES(es, ind):
    
    #ES query: select finished analysis jobs with inputfile DAOD
    query = "(prodsourcelabel:user) AND (NOT produsername:gangarbt) AND (NOT processingtype:pmerge) AND ((jobstatus:failed) OR (jobstatus:finished))" 
 
    #use scroll to get all hits (allows unlimited result queries)
    scroll = scan(es, index=ind, q=query, scroll='5m', timeout="5m", size=100, _source=[
            "pandaid", "jeditaskid", "inputfiletype", "produsername", "cpuconsumptiontime", "wall_time", "nevents",
            "ninputdatafiles", "inputfilebytes", "starttime", "endtime", "creationtime", "jobstatus"
        ])

    #jobs = jobs_list(scroll, 10000)
    jobs = jobs_list(scroll)

    #save into Panda Dataframe
    df_orig = json_normalize(jobs)
    #print('Saving into Panda Dataframe') 

    return df_orig

In [19]:
def get_result(df):
    
    df = df.drop(['_id', '_score', '_type', 'sort'], 1)
    
    #change name and manipulate strings
    df = df.rename(index=str, columns={"_index": "date", "_source.starttime":"starttime", 
         "_source.creationtime":"creationtime", "_source.endtime":"endtime",  "_source.jobstatus":"jobstatus",
         "_source.inputfiletype":"type", "_source.jeditaskid":"taskid", "_source.pandaid":"pandaid", 
         "_source.produsername":"user", "_source.cpuconsumptiontime":"cputime", "_source.wall_time":"walltime", "_source.nevents":"nevents", 
         "_source.ninputdatafiles":"nfiles", "_source.inputfilebytes":"size"})
    
    #creates new dataframe, with columns with same name untouched, and summing over other columns with different values
#    df_new = df.groupby(['name', 'scope']).agg({  
#        "pandaid": pd.Series.nunique, "user": pd.Series.nunique, "site": pd.Series.nunique, "taskid": pd.Series.nunique,
#        "cputime": pd.Series.sum, "walltime": pd.Series.sum, "nevents": pd.Series.sum, "nfiles": pd.Series.sum,
#         "size": pd.Series.sum # sum over unique pandaids, taskids, sites, users. Get the total/day for all the rest  
#        }).reset_index()
    
    return df

In [88]:
NDAYS=21
#NDAYS=''
#PATTERN='2017-06-'
PATTERN=''
ind = time_filter(indices, last_days=NDAYS, pattern=PATTERN) #list of indices per day
#print(ind)

day = 1
for i in ind:

    print(i)
    df = queryES(es, i)    
    
    
    if (day == 1): #first day of the week
        df_save = df
        DATE = re.sub(r'jobs_archive_', '', i).rstrip() #save the date
        print(DATE) 
    
    else:
        df_save = pd.concat([df_save, df])
        print('concat df '+str(day))

    day += 1

#store to file
#store = HDFStore('walltimejobs_'+DATE+'.h5')
#store['df_save'] = df_save
#store.close()     
    
display(df_save.head(5))

jobs_archive_2017-09-22
processing hit 100000...
processing hit 200000...
processing hit 300000...
processing hit 400000...
processing hit 500000...
processing hit 600000...
processing hit 700000...
processing hit 800000...
processing hit 900000...
2017-09-22
jobs_archive_2017-09-23
processing hit 100000...
processing hit 200000...
processing hit 300000...
processing hit 400000...
processing hit 500000...
processing hit 600000...
processing hit 700000...
concat df 2
jobs_archive_2017-09-24
processing hit 100000...
processing hit 200000...
processing hit 300000...
processing hit 400000...
processing hit 500000...
concat df 3
jobs_archive_2017-09-25
processing hit 100000...
processing hit 200000...
processing hit 300000...
processing hit 400000...
processing hit 500000...
concat df 4
jobs_archive_2017-09-26
processing hit 100000...
processing hit 200000...
processing hit 300000...
processing hit 400000...
processing hit 500000...
processing hit 600000...
processing hit 700000...
processing hit 800000...
processing hit 900000...
concat df 5
jobs_archive_2017-09-27
processing hit 100000...
processing hit 200000...
processing hit 300000...
processing hit 400000...
processing hit 500000...
processing hit 600000...
concat df 6
jobs_archive_2017-09-28
processing hit 100000...
processing hit 200000...
processing hit 300000...
processing hit 400000...
processing hit 500000...
concat df 7
jobs_archive_2017-09-29
processing hit 100000...
processing hit 200000...
processing hit 300000...
processing hit 400000...
processing hit 500000...
processing hit 600000...
processing hit 700000...
concat df 8
jobs_archive_2017-09-30
processing hit 100000...
processing hit 200000...
processing hit 300000...
processing hit 400000...
concat df 9
jobs_archive_2017-10-01
processing hit 100000...
processing hit 200000...
concat df 10
jobs_archive_2017-10-02
processing hit 100000...
processing hit 200000...
processing hit 300000...
processing hit 400000...
processing hit 500000...
concat df 11
jobs_archive_2017-10-03
processing hit 100000...
processing hit 200000...
processing hit 300000...
processing hit 400000...
processing hit 500000...
processing hit 600000...
concat df 12
jobs_archive_2017-10-04
processing hit 100000...
processing hit 200000...
processing hit 300000...
processing hit 400000...
processing hit 500000...
processing hit 600000...
processing hit 700000...
concat df 13
jobs_archive_2017-10-05
processing hit 100000...
processing hit 200000...
processing hit 300000...
processing hit 400000...
processing hit 500000...
processing hit 600000...
processing hit 700000...
concat df 14
jobs_archive_2017-10-06
processing hit 100000...
processing hit 200000...
processing hit 300000...
processing hit 400000...
processing hit 500000...
processing hit 600000...
processing hit 700000...
processing hit 800000...
concat df 15
jobs_archive_2017-10-07
processing hit 100000...
processing hit 200000...
processing hit 300000...
processing hit 400000...
processing hit 500000...
processing hit 600000...
processing hit 700000...
processing hit 800000...
processing hit 900000...
concat df 16
jobs_archive_2017-10-08
processing hit 100000...
processing hit 200000...
processing hit 300000...
processing hit 400000...
processing hit 500000...
concat df 17
jobs_archive_2017-10-09
processing hit 100000...
processing hit 200000...
processing hit 300000...
processing hit 400000...
concat df 18
jobs_archive_2017-10-10
processing hit 100000...
processing hit 200000...
processing hit 300000...
processing hit 400000...
processing hit 500000...
processing hit 600000...
concat df 19
jobs_archive_2017-10-11
processing hit 100000...
processing hit 200000...
processing hit 300000...
processing hit 400000...
processing hit 500000...
processing hit 600000...
processing hit 700000...
concat df 20
jobs_archive_2017-10-12
processing hit 100000...
processing hit 200000...
processing hit 300000...
processing hit 400000...
processing hit 500000...
processing hit 600000...
concat df 21

,_id,_index,_score,_source.cpuconsumptiontime,_source.creationtime,_source.endtime,_source.inputfilebytes,_source.inputfiletype,_source.jeditaskid,_source.jobstatus,_source.nevents,_source.ninputdatafiles,_source.pandaid,_source.produsername,_source.starttime,_source.wall_time,_type,sort
0,3615781747,jobs_archive_2017-09-22,None,38,2017-09-21T16:10:59,2017-09-22T02:43:42,4.357181e+08,AOD,12169960,finished,830,1.0,3615781747,Helena de Fatima Nunes Casimiro dos Santos,2017-09-22T02:41:22,140,jobs_data,[0]
1,3616970860,jobs_archive_2017-09-22,None,6281,2017-09-22T12:22:21,2017-09-22T14:17:25,4.880219e+09,DAOD_MUON1,12171548,finished,130000,2.0,3616970860,Johannes Junggeburth,2017-09-22T17:27:10,-11385,jobs_data,[0]
2,3615781740,jobs_archive_2017-09-22,None,29,2017-09-21T16:10:58,2017-09-22T02:43:35,5.158551e+08,AOD,12169960,finished,997,1.0,3615781740,Helena de Fatima Nunes Casimiro dos Santos,2017-09-22T02:41:21,134,jobs_data,[1]
3,3615994479,jobs_archive_2017-09-22,None,0,2017-09-21T19:21:46,2017-09-21T19:32:02,9.490955e+09,AOD,12169513,failed,37985,1.0,3615994479,Andrey Minaenko,2017-09-21T19:22:37,565,jobs_data,[1]
4,3617741938,jobs_archive_2017-09-22,None,40,2017-09-22T22:11:48,2017-09-22T22:33:35,1.293158e+09,DAOD_FTAG2,12183802,finished,0,1.0,3617741938,Geisen Jannik,2017-09-22T22:28:10,325,jobs_data,[1]

In [ ]:
display(df_save.head(5))

<h3>Combine jobs in tasks</h3>

In [87]:
DATE = '2017-10-11'
df_save = pd.read_hdf('walltimejobs_'+DATE+'.h5', 'df_save')

result = get_result(df_save)
display(result.head(5))
display(result.shape)

,date,cputime,creationtime,endtime,size,type,taskid,jobstatus,nevents,nfiles,pandaid,user,starttime,walltime
0,jobs_archive_2017-10-11,255,2017-10-10T22:20:11,2017-10-11T00:06:59,4.180964e+08,DAOD_SUSY7,12311404,finished,13631,1.0,3652368079,john anders,2017-10-10T23:59:12,467
1,jobs_archive_2017-10-11,119,2017-10-11T02:04:40,2017-10-11T02:19:57,7.806525e+07,DAOD_EGAM2,12311488,finished,1196,1.0,3652595982,Pavel Podberezko,2017-10-11T02:16:39,198
2,jobs_archive_2017-10-11,214,2017-10-10T22:20:11,2017-10-11T00:06:44,3.868212e+08,DAOD_SUSY7,12311404,finished,12720,1.0,3652368082,john anders,2017-10-10T23:59:12,452
3,jobs_archive_2017-10-11,1071,2017-10-10T20:07:16,2017-10-11T04:31:34,1.013632e+10,DAOD_STDM4,12311453,finished,366604,13.0,3652218501,Christian Johnson,2017-10-11T03:44:39,2815
4,jobs_archive_2017-10-11,743,2017-10-10T23:16:10,2017-10-11T00:07:48,1.645204e+09,DAOD_SUSY7,12311334,finished,29163,1.0,3652422368,john anders,2017-10-10T23:51:52,956

(1233753, 14)

In [23]:
result = result.sort_values('taskid')
display(result.head(5))

,date,cputime,creationtime,endtime,size,type,taskid,jobstatus,nevents,nfiles,pandaid,user,starttime,walltime
544676,jobs_archive_2017-10-11,2,2017-10-11T11:03:00,2017-10-11T11:24:29,7.542443e+09,AOD,11970061,failed,0,1.0,3653266322,mark sutton,2017-10-11T11:11:54,755
330995,jobs_archive_2017-10-11,5,2017-10-11T10:12:38,2017-10-11T10:45:20,7.542443e+09,AOD,11970061,failed,0,1.0,3653201821,mark sutton,2017-10-11T10:37:26,474
3736,jobs_archive_2017-10-11,2,2017-10-10T18:27:16,2017-10-11T06:37:02,7.542443e+09,AOD,11970061,failed,0,1.0,3652117826,mark sutton,2017-10-11T06:35:02,120
54789,jobs_archive_2017-10-11,3,2017-10-11T06:53:40,2017-10-11T07:26:03,7.542443e+09,AOD,11970061,failed,0,1.0,3653050294,mark sutton,2017-10-11T07:22:03,240
316455,jobs_archive_2017-10-12,2,2017-10-12T05:26:01,2017-10-12T06:13:34,7.542443e+09,AOD,11970061,failed,0,1.0,3654762618,mark sutton,2017-10-12T06:11:34,120

In [72]:
#for taskid, df_taskid in result.groupby('taskid'):
#    print(df_taskid)#
#print(result.groupby('taskid'))
tasks = {k: v for k, v in result.groupby('taskid')}

print('Number of tasks '+str(len(list(tasks))))
print(list(tasks)[0])
display(tasks[list(tasks)[0]])

Number of tasks 8680
12320768

,date,cputime,creationtime,endtime,size,type,taskid,jobstatus,nevents,nfiles,pandaid,user,starttime,walltime
605662,jobs_archive_2017-10-11,69,2017-10-11T19:33:13,2017-10-11T20:05:55,6.192445e+09,DAOD_SUSY1,12320768,failed,0,3.0,3653846727,Pepijn Johannes Bakker,2017-10-11T19:51:21,874
605669,jobs_archive_2017-10-11,70,2017-10-11T19:33:13,2017-10-11T20:00:54,8.558777e+09,DAOD_SUSY1,12320768,failed,0,3.0,3653846729,Pepijn Johannes Bakker,2017-10-11T19:51:24,570
605666,jobs_archive_2017-10-11,116,2017-10-11T19:33:13,2017-10-11T19:58:19,2.753118e+09,DAOD_SUSY1,12320768,failed,0,3.0,3653846726,Pepijn Johannes Bakker,2017-10-11T19:49:49,510
432409,jobs_archive_2017-10-12,109,2017-10-12T07:43:38,2017-10-12T08:14:45,4.390849e+08,DAOD_SUSY1,12320768,failed,0,3.0,3654995175,Pepijn Johannes Bakker,2017-10-12T08:11:27,198
429254,jobs_archive_2017-10-12,145,2017-10-12T07:43:38,2017-10-12T08:15:51,3.530268e+08,DAOD_SUSY1,12320768,failed,0,3.0,3654995162,Pepijn Johannes Bakker,2017-10-12T08:11:30,261
379452,jobs_archive_2017-10-12,72,2017-10-12T05:21:53,2017-10-12T07:19:49,6.192445e+09,DAOD_SUSY1,12320768,failed,0,3.0,3654755367,Pepijn Johannes Bakker,2017-10-12T07:16:17,212
522895,jobs_archive_2017-10-11,187,2017-10-11T19:33:14,2017-10-11T19:59:07,2.530131e+09,DAOD_SUSY1,12320768,failed,0,3.0,3653846730,Pepijn Johannes Bakker,2017-10-11T19:51:26,461
426139,jobs_archive_2017-10-12,110,2017-10-12T07:43:38,2017-10-12T08:14:43,6.220280e+09,DAOD_SUSY1,12320768,failed,0,3.0,3654995166,Pepijn Johannes Bakker,2017-10-12T08:11:26,197
352129,jobs_archive_2017-10-12,96,2017-10-12T05:21:53,2017-10-12T07:36:29,2.530131e+09,DAOD_SUSY1,12320768,failed,0,3.0,3654755370,Pepijn Johannes Bakker,2017-10-12T07:16:34,1195
368110,jobs_archive_2017-10-12,48,2017-10-11T19:33:13,2017-10-11T19:53:22,9.198848e+07,DAOD_SUSY1,12320768,finished,2473,3.0,3653846725,Pepijn Johannes Bakker,2017-10-11T19:49:49,213
640433,jobs_archive_2017-10-11,203,2017-10-11T19:33:14,2017-10-11T19:57:02,6.220280e+09,DAOD_SUSY1,12320768,failed,0,3.0,3653846736,Pepijn Johannes Bakker,2017-10-11T19:51:26,336
352131,jobs_archive_2017-10-12,82,2017-10-12T05:21:53,2017-10-12T07:20:22,3.530268e+08,DAOD_SUSY1,12320768,failed,0,3.0,3654755371,Pepijn Johannes Bakker,2017-10-12T07:16:51,211
380664,jobs_archive_2017-10-12,72,2017-10-12T05:21:53,2017-10-12T07:20:56,4.390849e+08,DAOD_SUSY1,12320768,failed,0,3.0,3654755378,Pepijn Johannes Bakker,2017-10-12T07:18:23,153
380662,jobs_archive_2017-10-12,92,2017-10-12T05:21:53,2017-10-12T07:21:19,6.220280e+09,DAOD_SUSY1,12320768,failed,0,3.0,3654755372,Pepijn Johannes Bakker,2017-10-12T07:17:44,215
380657,jobs_archive_2017-10-12,120,2017-10-12T05:21:53,2017-10-12T07:28:44,2.753118e+09,DAOD_SUSY1,12320768,failed,0,3.0,3654755365,Pepijn Johannes Bakker,2017-10-12T07:16:03,761
640431,jobs_archive_2017-10-11,226,2017-10-11T19:33:14,2017-10-11T19:57:06,4.390849e+08,DAOD_SUSY1,12320768,failed,0,3.0,3653846740,Pepijn Johannes Bakker,2017-10-11T19:51:27,339
522897,jobs_archive_2017-10-11,317,2017-10-11T19:33:14,2017-10-11T19:59:09,1.418799e+09,DAOD_SUSY1,12320768,failed,0,3.0,3653846738,Pepijn Johannes Bakker,2017-10-11T19:51:27,462
406158,jobs_archive_2017-10-12,115,2017-10-12T07:43:37,2017-10-12T08:15:34,6.192445e+09,DAOD_SUSY1,12320768,failed,0,3.0,3654995151,Pepijn Johannes Bakker,2017-10-12T08:12:10,204
379457,jobs_archive_2017-10-12,96,2017-10-12T05:21:53,2017-10-12T07:21:28,1.418799e+09,DAOD_SUSY1,12320768,failed,0,3.0,3654755376,Pepijn Johannes Bakker,2017-10-12T07:18:02,206
640428,jobs_archive_2017-10-11,167,2017-10-11T19:33:14,2017-10-11T19:55:56,3.530268e+08,DAOD_SUSY1,12320768,failed,0,3.0,3653846734,Pepijn Johannes Bakker,2017-10-11T19:51:26,270
293232,jobs_archive_2017-10-12,32,2017-10-11T19:33:14,2017-10-11T20:06:02,2.705245e+08,DAOD_SUSY1,12320768,finished,7387,3.0,3653846732,Pepijn Johannes Bakker,2017-10-11T19:51:26,876
402343,jobs_archive_2017-10-12,52,2017-10-12T05:21:53,2017-10-12T07:18:58,8.558777e+09,DAOD_SUSY1,12320768,failed,0,3.0,3654755368,Pepijn Johannes Bakker,2017-10-12T07:16:28,150
420989,jobs_archive_2017-10-12,158,2017-10-12T07:43:38,2017-10-12T08:15:44,1.418799e+09,DAOD_SUSY1,12320768,failed,0,3.0,3654995170,Pepijn Johannes Bakker,2017-10-12T08:11:24,260
420997,jobs_archive_2017-10-12,156,2017-10-12T07:43:37,2017-10-12T08:16:25,2.753118e+09,DAOD_SUSY1,12320768,failed,0,3.0,3654995147,Pepijn Johannes Bakker,2017-10-12T08:12:04,261
420994,jobs_archive_2017-10-12,124,2017-10-12T07:43:38,2017-10-12T08:14:44,2.530131e+09,DAOD_SUSY1,12320768,failed,0,3.0,3654995157,Pepijn Johannes Bakker,2017-10-12T08:11:26,198
420992,jobs_archive_2017-10-12,120,2017-10-12T07:43:38,2017-10-12T08:14:44,8.558777e+09,DAOD_SUSY1,12320768,failed,0,3.0,3654995154,Pepijn Johannes Bakker,2017-10-12T08:11:27,197

In [80]:
#drop tasks younger than X days: keep only tasks where at least 1 job was created before X days

X = 1
#t = tasks[12320768]
keys=[]
for taskid, t in tasks.items():
    keep = False
    #display(t)
    for creation in t['creationtime']:
        #print(creation)
        time_from_creation = datetime.utcnow() - datetime.strptime(creation,'%Y-%m-%dT%H:%M:%S')
        #    print(time_from_creation) 
        if  time_from_creation.days>X:
            keep = True
            #print('keep task '+str(taskid) +' '+str(time_from_creation))
    if not(keep):
        #print('deleting '+str(taskid)+' '+str(time_from_creation))
        #del tasks[taskid]    
        keys.append(taskid) 

print('Number of tasks to be deleted '+str(len(keys)))

Number of tasks to be deleted 8388

In [ ]:
for x in keys:
    del tasks[x]        
print('Number of tasks after delection '+str(len(list(tasks))))

In [85]:
#display(t['creationtime'])
#for i in t['creationtime']:
#    print(i)

print(list(tasks)[1])
display(tasks[list(tasks)[1]])

12288019

,date,cputime,creationtime,endtime,size,type,taskid,jobstatus,nevents,nfiles,pandaid,user,starttime,walltime
248245,jobs_archive_2017-10-11,10,2017-10-10T15:27:38,2017-10-11T00:13:32,9.666610e+09,AOD,12288019,failed,0,1.0,3651905323,Andrey Minaenko,2017-10-11T00:11:05,147
254853,jobs_archive_2017-10-11,9,2017-10-10T14:13:26,2017-10-11T00:09:43,9.714956e+09,AOD,12288019,failed,0,1.0,3651809473,Andrey Minaenko,2017-10-11T00:08:15,88
740692,jobs_archive_2017-10-11,10,2017-10-11T21:33:41,2017-10-11T21:41:42,9.651500e+09,AOD,12288019,failed,0,1.0,3654028633,Andrey Minaenko,2017-10-11T21:38:14,208
234292,jobs_archive_2017-10-11,5,2017-10-10T17:59:21,2017-10-10T18:08:15,8.382762e+09,AOD,12288019,failed,0,1.0,3652088274,Andrey Minaenko,2017-10-10T18:06:49,86
740700,jobs_archive_2017-10-11,8,2017-10-11T21:33:41,2017-10-11T22:19:06,8.465794e+09,AOD,12288019,failed,0,1.0,3654028625,Andrey Minaenko,2017-10-11T22:16:15,171
238887,jobs_archive_2017-10-11,12,2017-10-10T15:27:46,2017-10-11T00:14:37,9.234948e+09,AOD,12288019,failed,0,1.0,3651905604,Andrey Minaenko,2017-10-11T00:12:59,98
254854,jobs_archive_2017-10-11,10,2017-10-10T14:13:26,2017-10-11T00:09:57,1.019374e+10,AOD,12288019,failed,0,1.0,3651809483,Andrey Minaenko,2017-10-11T00:08:16,101
100400,jobs_archive_2017-10-12,10,2017-10-11T14:32:11,2017-10-11T20:21:22,8.852869e+09,AOD,12288019,failed,0,1.0,3653444786,Andrey Minaenko,2017-10-11T20:13:30,472
30950,jobs_archive_2017-10-11,7936,2017-10-10T17:59:23,2017-10-10T20:41:17,9.007901e+09,AOD,12288019,failed,33402,1.0,3652088296,Andrey Minaenko,2017-10-10T18:06:54,9263
254844,jobs_archive_2017-10-11,8,2017-10-10T14:13:30,2017-10-11T00:12:10,1.031719e+10,AOD,12288019,failed,0,1.0,3651809799,Andrey Minaenko,2017-10-11T00:10:45,85
740309,jobs_archive_2017-10-11,16108,2017-10-11T06:06:27,2017-10-11T22:35:23,8.765486e+09,AOD,12288019,finished,33870,1.0,3652970419,Andrey Minaenko,2017-10-11T17:54:08,16875
122438,jobs_archive_2017-10-12,12795,2017-10-11T14:32:11,2017-10-12T00:05:17,9.282255e+09,AOD,12288019,finished,33721,1.0,3653444794,Andrey Minaenko,2017-10-11T20:14:10,13867
122434,jobs_archive_2017-10-12,15359,2017-10-11T14:32:11,2017-10-12T00:43:41,1.029004e+10,AOD,12288019,finished,36108,1.0,3653444790,Andrey Minaenko,2017-10-11T20:13:46,16195
254825,jobs_archive_2017-10-11,10,2017-10-10T14:13:30,2017-10-11T00:12:55,9.978405e+09,AOD,12288019,failed,0,1.0,3651809786,Andrey Minaenko,2017-10-11T00:10:32,143
401950,jobs_archive_2017-10-12,5,2017-10-12T04:44:01,2017-10-12T04:45:37,8.568836e+09,AOD,12288019,failed,0,1.0,3654687086,Andrey Minaenko,2017-10-12T04:44:16,81
356238,jobs_archive_2017-10-11,14,2017-10-11T14:13:05,2017-10-11T14:36:24,9.350339e+09,AOD,12288019,failed,0,1.0,3653421446,Andrey Minaenko,2017-10-11T14:29:43,401
401947,jobs_archive_2017-10-12,5,2017-10-12T04:44:01,2017-10-12T04:45:37,8.770320e+09,AOD,12288019,failed,0,1.0,3654687082,Andrey Minaenko,2017-10-12T04:44:16,81
40209,jobs_archive_2017-10-11,11,2017-10-11T01:55:50,2017-10-11T07:32:45,8.748826e+09,AOD,12288019,failed,0,1.0,3652584826,Andrey Minaenko,2017-10-11T07:30:18,147
147046,jobs_archive_2017-10-12,21805,2017-10-11T14:32:11,2017-10-12T02:38:02,9.662469e+09,AOD,12288019,finished,34768,1.0,3653444792,Andrey Minaenko,2017-10-11T20:13:53,23049
40007,jobs_archive_2017-10-11,6,2017-10-10T19:48:10,2017-10-10T19:53:20,9.545382e+09,AOD,12288019,failed,0,1.0,3652199793,Andrey Minaenko,2017-10-10T19:51:36,104
40207,jobs_archive_2017-10-11,11,2017-10-11T01:55:42,2017-10-11T07:31:40,1.021528e+10,AOD,12288019,failed,0,1.0,3652584670,Andrey Minaenko,2017-10-11T07:29:18,142
401944,jobs_archive_2017-10-12,8,2017-10-12T04:44:01,2017-10-12T04:46:43,8.239364e+09,AOD,12288019,failed,0,1.0,3654687078,Andrey Minaenko,2017-10-12T04:44:16,147
210553,jobs_archive_2017-10-12,15212,2017-10-11T08:19:46,2017-10-12T01:04:08,8.940231e+09,AOD,12288019,failed,36760,1.0,3653106361,Andrey Minaenko,2017-10-11T20:35:56,16092
356240,jobs_archive_2017-10-11,7,2017-10-11T14:13:06,2017-10-11T14:35:24,6.784097e+09,AOD,12288019,failed,0,1.0,3653421452,Andrey Minaenko,2017-10-11T14:29:44,340
45717,jobs_archive_2017-10-11,14,2017-10-10T22:33:28,2017-10-11T00:09:36,9.700845e+09,AOD,12288019,failed,0,1.0,3652380127,Andrey Minaenko,2017-10-11T00:07:09,147
371642,jobs_archive_2017-10-11,268,2017-10-09T19:35:01,2017-10-10T06:28:32,7.930472e+09,AOD,12288019,finished,21849,3.0,3650223878,Andrey Minaenko,2017-10-10T06:09:40,1132
40205,jobs_archive_2017-10-11,8,2017-10-11T01:55:47,2017-10-11T07:31:30,8.596553e+09,AOD,12288019,failed,0,1.0,3652584762,Andrey Minaenko,2017-10-11T07:30:12,78
254843,jobs_archive_2017-10-11,8,2017-10-10T14:13:30,2017-10-11T00:13:09,9.463983e+09,AOD,12288019,failed,0,1.0,3651809796,Andrey Minaenko,2017-10-11T00:10:43,146
238890,jobs_archive_2017-10-11,8,2017-10-10T15:27:42,2017-10-11T00:13:04,9.871891e+09,AOD,12288019,failed,0,1.0,3651905435,Andrey Minaenko,2017-10-11T00:11:47,77
230700,jobs_archive_2017-10-12,5083,2017-10-11T18:07:37,2017-10-12T04:42:18,1.144451e+10,AOD,12288019,failed,64895,2.0,3653713514,Andrey Minaenko,2017-10-11T18:38:15,36243
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260278,jobs_archive_2017-10-11,11,2017-10-10T15:27:41,2017-10-11T00:14:02,8.238790e+09,AOD,12288019,failed,0,1.0,3651905411,Andrey Minaenko,2017-10-11T00:11:31,151
417520,jobs_archive_2017-10-11,7,2017-10-11T13:52:29,2017-10-11T13:55:38,1.041621e+10,AOD,12288019,failed,0,1.0,3653386560,Andrey Minaenko,2017-10-11T13:53:04,154
438556,jobs_archive_2017-10-11,9,2017-10-11T09:01:07,2017-10-11T11:30:35,9.310825e+09,AOD,12288019,failed,0,1.0,3653160004,Andrey Minaenko,2017-10-11T11:28:15,140
475770,jobs_archive_2017-10-11,11,2017-10-11T12:01:04,2017-10-11T12:04:39,7.456372e+09,AOD,12288019,failed,0,1.0,3653363198,Andrey Minaenko,2017-10-11T12:02:14,145
246986,jobs_archive_2017-10-11,9,2017-10-10T23:51:10,2017-10-11T00:07:09,9.557565e+09,AOD,12288019,failed,0,1.0,3652457576,Andrey Minaenko,2017-10-11T00:04:48,141
222824,jobs_archive_2017-10-11,5,2017-10-10T17:59:21,2017-10-10T18:08:13,8.182194e+09,AOD,12288019,failed,0,1.0,3652088270,Andrey Minaenko,2017-10-10T18:06:47,86
312222,jobs_archive_2017-10-12,9,2017-10-11T08:19:47,2017-10-11T21:14:39,1.006577e+10,AOD,12288019,failed,0,1.0,3653106385,Andrey Minaenko,2017-10-11T20:48:16,1583
175367,jobs_archive_2017-10-12,7,2017-10-11T18:49:26,2017-10-11T19:18:49,9.706177e+09,AOD,12288019,failed,0,1.0,3653776988,Andrey Minaenko,2017-10-11T19:16:16,153
129157,jobs_archive_2017-10-11,13,2017-10-11T01:38:31,2017-10-11T07:24:45,9.737624e+09,AOD,12288019,failed,0,1.0,3652567463,Andrey Minaenko,2017-10-11T07:22:16,149
290160,jobs_archive_2017-10-12,10,2017-10-11T08:19:44,2017-10-11T20:19:01,7.059414e+09,AOD,12288019,failed,0,1.0,3653106155,Andrey Minaenko,2017-10-11T20:14:13,288
273407,jobs_archive_2017-10-11,10,2017-10-10T14:13:28,2017-10-11T00:10:56,1.021077e+10,AOD,12288019,failed,0,1.0,3651809665,Andrey Minaenko,2017-10-11T00:09:28,88
221657,jobs_archive_2017-10-11,5098,2017-10-10T12:55:51,2017-10-10T23:48:19,8.372438e+09,AOD,12288019,finished,28867,1.0,3651701965,Andrey Minaenko,2017-10-10T13:30:55,37044
436888,jobs_archive_2017-10-11,8,2017-10-11T02:40:58,2017-10-11T13:15:33,1.012168e+10,AOD,12288019,failed,0,1.0,3652650477,Andrey Minaenko,2017-10-11T13:14:13,80
222820,jobs_archive_2017-10-11,6,2017-10-10T17:59:21,2017-10-10T18:05:31,8.107053e+09,AOD,12288019,failed,0,1.0,3652088263,Andrey Minaenko,2017-10-10T18:04:04,87
155871,jobs_archive_2017-10-11,10,2017-10-10T20:00:29,2017-10-10T20:51:32,8.219879e+09,AOD,12288019,failed,0,1.0,3652210053,Andrey Minaenko,2017-10-10T20:46:48,284
504033,jobs_archive_2017-10-11,5038,2017-10-09T19:35:03,2017-10-10T07:51:06,8.460618e+09,AOD,12288019,finished,28782,3.0,3650223925,Andrey Minaenko,2017-10-10T06:10:56,6010
256641,jobs_archive_2017-10-11,11,2017-10-10T15:27:47,2017-10-11T00:16:00,9.469123e+09,AOD,12288019,failed,0,1.0,3651905632,Andrey Minaenko,2017-10-11T00:13:25,155
437272,jobs_archive_2017-10-11,12,2017-10-11T07:36:21,2017-10-11T17:11:40,1.004051e+10,AOD,12288019,failed,0,2.0,3653089610,Andrey Minaenko,2017-10-11T17:07:05,275
387229,jobs_archive_2017-10-11,8,2017-10-11T08:47:38,2017-10-11T13:09:43,9.685829e+09,AOD,12288019,failed,0,1.0,3653140191,Andrey Minaenko,2017-10-11T13:08:22,81
780914,jobs_archive_2017-10-11,8,2017-10-11T13:47:09,2017-10-11T13:53:05,1.038883e+10,AOD,12288019,failed,0,1.0,3653381697,Andrey Minaenko,2017-10-11T13:50:31,154
618811,jobs_archive_2017-10-11,7914,2017-10-11T14:13:04,2017-10-11T16:38:06,9.095972e+09,AOD,12288019,failed,31653,1.0,3653421412,Andrey Minaenko,2017-10-11T14:17:23,8443
618807,jobs_archive_2017-10-11,8567,2017-10-11T14:13:04,2017-10-11T16:48:35,8.935361e+09,AOD,12288019,failed,29421,1.0,3653421388,Andrey Minaenko,2017-10-11T14:16:21,9134
374359,jobs_archive_2017-10-11,11213,2017-10-11T03:57:54,2017-10-11T11:53:06,8.267801e+09,AOD,12288019,finished,28271,1.0,3652767589,Andrey Minaenko,2017-10-11T08:29:20,12226
39972,jobs_archive_2017-10-11,14,2017-10-10T19:48:09,2017-10-10T20:21:15,9.876817e+09,AOD,12288019,failed,0,1.0,3652199763,Andrey Minaenko,2017-10-10T19:51:02,1813
504043,jobs_archive_2017-10-11,5681,2017-10-09T19:35:02,2017-10-10T08:01:03,1.085056e+10,AOD,12288019,finished,33672,4.0,3650223909,Andrey Minaenko,2017-10-10T06:09:52,6671
411432,jobs_archive_2017-10-11,21324,2017-10-10T02:10:40,2017-10-10T08:36:30,8.339211e+09,AOD,12288019,failed,28456,1.0,3650864008,Andrey Minaenko,2017-10-10T02:20:23,22567
256644,jobs_archive_2017-10-11,8,2017-10-10T15:27:47,2017-10-11T00:14:49,9.723398e+09,AOD,12288019,failed,0,1.0,3651905635,Andrey Minaenko,2017-10-11T00:13:27,82
221981,jobs_archive_2017-10-11,6,2017-10-10T17:59:25,2017-10-10T18:09:04,1.001674e+10,AOD,12288019,failed,0,1.0,3652088324,Andrey Minaenko,2017-10-10T18:07:39,85
417577,jobs_archive_2017-10-11,11,2017-10-11T02:40:20,2017-10-11T07:29:45,9.940516e+09,AOD,12288019,failed,0,1.0,3652649433,Andrey Minaenko,2017-10-11T07:27:16,149
417585,jobs_archive_2017-10-11,9,2017-10-11T02:40:20,2017-10-11T07:28:45,8.928994e+09,AOD,12288019,failed,0,1.0,3652649439,Andrey Minaenko,2017-10-11T07:27:29,76