## Import all the needed packages

In [68]:
# DataFrame
import pandas as pd

# Elasticsearch
from elasticsearch import Elasticsearch, helpers

from datetime import datetime

import matplotlib.pyplot as plt

# isnan()
import math

## Create the local raw_data_pool

In [2]:
raw_data_pool = {}

def make_sure(src_site, dest_site):
    if src_site not in raw_data_pool:
        raw_data_pool[src_site] = {}
    if dest_site not in raw_data_pool[src_site]:
        raw_data_pool[src_site][dest_site] = pd.DataFrame()

def put_data(src_site, dest_site, timestamp_epoch, column_type, value):
    make_sure(src_site, dest_site)
    raw_data_pool[src_site][dest_site].set_value(timestamp_epoch, column_type, value)

## Create the elasticsearch connection

In [3]:
es = Elasticsearch(['atlas-kibana.mwt2.org:9200'])
my_index = "network_weather_2-*"
my_query = {}
my_timeout = 600

In [4]:
# my_query = \
# {
#   "size": 100,
#   "sort": [
#     {
#       "timestamp": {
#         "order": "desc",
#         "unmapped_type": "boolean"
#       }
#     }
#   ],
#   "query": {
#     "filtered": {
#       "query": {
#         "query_string": {
#           "analyze_wildcard": True,
#           "lowercase_expanded_terms": False,
#           "query": "*"
#         }
#       },
#       "filter": {
#         "bool": {
#           "must": [
#             {
#               "query": {
#                 "match": {
#                   "srcSite": {
#                     "query": "Australia-ATLAS",
#                     "type": "phrase"
#                   }
#                 }
#               }
#             },
#             {
#               "query": {
#                 "match": {
#                   "destSite": {
#                     "query": "SFU-LCG2",
#                     "type": "phrase"
#                   }
#                 }
#               }
#             },
#             {
#               "range": {
#                 "timestamp": {
#                   "gte": 1454306400000,
#                   "lte": 1456812000000,
#                   "format": "epoch_millis"
#                 }
#               }
#             }
#           ],
#           "must_not": []
#         }
#       }
#     }
#   },
#   "fields": [
#     "*",
#     "_source"
#   ],
#   "script_fields": {
#     "throughput [Gbps]": {
#       "script": "doc['throughput'].value/1073741824.0",
#       "lang": "expression"
#     }
#   },
#   "fielddata_fields": [
#     "timestamp"
#   ]
# }

In [5]:
# my_query

In [6]:
# type(my_query)

In [7]:
# my_query["query"]["filtered"]["filter"]

In [8]:
# response = es.search(index=my_index, body=my_query, request_timeout=600)

In [9]:
# response

In [10]:
# def ask_total_hits(query_body)

In [11]:
# def generate_query(src_site, dest_site, start_timestamp, end_timestamp):
#

In [12]:
# # https://gist.github.com/drorata/146ce50807d16fd4a6aa

# # Initialize the scroll
# page = es.search(
#   index = 'network_weather_2-*',
#   doc_type = 'latency',
#   scroll = '2m',
#   search_type = 'scan',
#   size = 10000,
#   body = my_query)

# sid = page['_scroll_id']
# scroll_size = page['hits']['total']
  
# # Start scrolling
# while (scroll_size > 0):
#     print("Scrolling...")
#     page = es.scroll(scroll_id = sid, scroll = '2m')
#     # Update the scroll ID
#     sid = page['_scroll_id']
#     # Get the number of results that we returned in the last scroll
#     scroll_size = len(page['hits']['hits'])
# #     print(page['hits'])
#     print("scroll size: " + str(scroll_size))
#     # Do something with the obtained page

In [13]:
# my_query = \
# {
    
# }

In [14]:
# scroll = helpers.scan(client=es, query=my_query)
# count = 0

# for res in scroll:
#     count += 1
# #     print(res)
# #     print("===============")

# print(count)

In [15]:
src_site = "Australia-ATLAS"
dest_site = "SFU-LCG2"
# timestamp = { 'gte': 1454306400000, 'lte': 1456812000000, 'format': 'epoch_millis' }
# timestamp = { 'gte': 1454306400000, 'lt': 1456812000000 }
# timestamp = { 'gte': '2016-02-01T00:00:00Z', 'lt': '2016-03-01T00:00:00Z' }
timestamp = { 'gte': '2016-01-01T00:00:00Z', 'lt': '2016-06-01T00:00:00Z' }

my_query = {}
my_query['query'] = {}
my_query['query']['filtered'] = {}
my_query['query']['filtered']['query'] = { "match_all": {} }
my_query['query']['filtered']['filter'] = {}
my_query['query']['filtered']['filter']['bool'] = {}
my_query['query']['filtered']['filter']['bool']['must'] = []
my_query['query']['filtered']['filter']['bool']['must'].append({ 'term': { 'srcSite': src_site } })
my_query['query']['filtered']['filter']['bool']['must'].append({ 'term': { 'destSite': dest_site } })
my_query['query']['filtered']['filter']['bool']['must'].append({ 'range': { 'timestamp': timestamp } })
my_query['fielddata_fields'] = [ 'timestamp' ]

my_query

{'fielddata_fields': ['timestamp'],
 'query': {'filtered': {'filter': {'bool': {'must': [{'term': {'srcSite': 'Australia-ATLAS'}},
      {'term': {'destSite': 'SFU-LCG2'}},
      {'range': {'timestamp': {'gte': '2016-01-01T00:00:00Z',
         'lt': '2016-06-01T00:00:00Z'}}}]}},
   'query': {'match_all': {}}}}}

In [16]:
scroll = list(helpers.scan(client=es, query=my_query))
count = 0

for res in scroll:
    count += 1
#     print(res)
#     print("====================")
    column_type = res['_type']
    timestamp_epoch = res['fields']['timestamp'][0]
    if column_type == 'latency':
        put_data(src_site, dest_site, timestamp_epoch, 'iso_8601', res['_source']['timestamp'])
        put_data(src_site, dest_site, timestamp_epoch, 'delay_median', res['_source']['delay_median'])
        put_data(src_site, dest_site, timestamp_epoch, 'delay_mean', res['_source']['delay_mean'])
        put_data(src_site, dest_site, timestamp_epoch, 'delay_sd', res['_source']['delay_sd'])
#         print(res['_source']['delay_median'])
#         print(res['_source']['delay_mean'])
#         print(res['_source']['delay_sd'])
#         print(res['fields']['timestamp'][0])
#         print(res['_source']['timestamp'])
    elif column_type == 'packet_loss_rate':
        put_data(src_site, dest_site, timestamp_epoch, 'iso_8601', res['_source']['timestamp'])
        put_data(src_site, dest_site, timestamp_epoch, 'packet_loss', res['_source']['packet_loss'])
#         print(res['_source']['packet_loss'])
#         print(res['fields']['timestamp'][0])
#         print(res['_source']['timestamp'])
    elif column_type == 'throughput':
        put_data(src_site, dest_site, timestamp_epoch, 'iso_8601', res['_source']['timestamp'])
        put_data(src_site, dest_site, timestamp_epoch, 'throughput', res['_source']['throughput'])
#         print(res['_source']['throughput'])
#         print(res['fields']['timestamp'][0])
#         print(res['_source']['timestamp'])
    else:
        print("Error: type should be latency, packet_loss_rate, or throughput. ")
    
#     if count >= 111:
#         break;

print(count)

114721

In [17]:
# timestamp = "2016-02-01T07:05:00"
# # datetime.strptime(timestamp, "%Y-%m-%dT%H:%M:%S.%fZ")
# a = datetime.strptime(timestamp, "%Y-%m-%dT%H:%M:%S")

In [18]:
# type(a)

In [19]:
# put_data("aaa", "bbb", a, "latency", 898.3)

In [20]:
# raw_data_pool['aaa']['bbb']

In [21]:
a = raw_data_pool[src_site][dest_site]

In [22]:
a.count(axis='index')

iso_8601        3219
packet_loss     3177
delay_median    3105
delay_mean      3105
delay_sd        3105
throughput        21
dtype: int64

In [23]:
# a.plot()

In [24]:
a

,iso_8601,packet_loss,delay_median,delay_mean,delay_sd,throughput
1451612100000,2016-01-01T01:35:00,0.0,84.4,84.447333,0.053786,NaN
1451614200000,2016-01-01T02:10:00,NaN,85.6,85.584200,0.092288,NaN
1451614500000,2016-01-01T02:15:00,0.0,NaN,NaN,NaN,NaN
1451616900000,2016-01-01T02:55:00,0.0,86.7,86.706333,0.050595,NaN
1452388500000,2016-01-10T01:15:00,0.0,81.3,81.277556,0.064778,NaN
1452390600000,2016-01-10T01:50:00,0.0,80.3,80.300167,0.043011,NaN
1452392400000,2016-01-10T02:20:00,0.0,83.0,83.004208,0.153796,NaN
1452394500000,2016-01-10T02:55:00,0.0,84.1,84.077417,0.147530,NaN
1452396600000,2016-01-10T03:30:00,0.0,83.7,83.706333,0.232149,NaN
1452547500000,2016-01-11T21:25:00,0.0,81.8,81.764667,0.052772,NaN
1452549600000,2016-01-11T22:00:00,0.0,83.3,83.346208,1.331682,NaN
1452552000000,2016-01-11T22:40:00,0.0,NaN,NaN,NaN,NaN
1452639600000,2016-01-12T23:00:00,0.0,83.8,83.832750,0.452569,NaN
1452642000000,2016-01-12T23:40:00,0.0,83.9,83.941500,0.059395,NaN
1452644100000,2016-01-13T00:15:00,0.0,82.7,82.692167,0.125785,NaN
1452646200000,2016-01-13T00:50:00,0.0,82.3,82.270000,0.086603,NaN
1452735900000,2016-01-14T01:45:00,0.0,81.4,81.418056,1.960222,NaN
1452738000000,2016-01-14T02:20:00,0.0,82.4,82.367000,0.053019,NaN
1452739800000,2016-01-14T02:50:00,0.0,83.0,82.995667,0.105662,NaN
1451700300000,2016-01-02T02:05:00,0.0,84.5,84.480722,0.109750,NaN
1451698200000,2016-01-02T01:30:00,0.0,84.3,84.404250,0.530604,NaN
1451702700000,2016-01-02T02:45:00,0.0,81.0,80.990333,0.090590,NaN
1453741800000,2016-01-25T17:10:00,0.0,81.5,81.529000,0.076326,NaN
1453743900000,2016-01-25T17:45:00,NaN,81.1,81.106433,0.092278,NaN
1453744200000,2016-01-25T17:50:00,0.0,NaN,NaN,NaN,NaN
1453746300000,2016-01-25T18:25:00,0.0,80.4,80.454389,0.097141,NaN
1453748400000,2016-01-25T19:00:00,0.0,82.5,82.508875,0.079689,NaN
1453764300000,2016-01-25T23:25:00,0.0,83.5,83.493722,0.122563,NaN
1453908300000,2016-01-27T15:25:00,0.0,83.3,83.256278,0.089035,NaN
1453910400000,2016-01-27T16:00:00,0.0,83.9,84.039375,0.781902,NaN
...,...,...,...,...,...,...
1462657500000,2016-05-07T21:45:00,0.0,80.8,80.776167,0.052109,NaN
1459461300000,2016-03-31T21:55:00,0.0,71.6,71.584667,0.097288,NaN
1458390000000,2016-03-19T12:20:00,0.0,77.4,77.404583,0.069790,NaN
1458387600000,2016-03-19T11:40:00,0.0,81.0,80.974000,0.107272,NaN
1461965400000,2016-04-29T21:30:00,0.0,80.6,80.621833,0.062414,NaN
1461178800000,2016-04-20T19:00:00,0.0,79.8,79.843333,0.123621,NaN
1459977000000,2016-04-06T21:10:00,0.0,81.7,81.712667,0.046255,NaN
1457562600000,2016-03-09T22:30:00,0.0,81.1,80.992778,0.240700,NaN
1458392400000,2016-03-19T13:00:00,0.0,73.5,73.688500,1.064965,NaN
1458399300000,2016-03-19T14:55:00,0.0,79.3,79.280417,0.122304,NaN
1458401700000,2016-03-19T15:35:00,0.0,74.2,74.215111,0.082962,NaN
1458526200000,2016-03-21T02:10:00,0.0,77.3,77.351667,0.081633,NaN
1461184800000,2016-04-20T20:40:00,0.0,80.9,80.902583,0.079383,NaN
1458416400000,2016-03-19T19:40:00,0.0,75.1,75.076500,0.056450,NaN
1458533100000,2016-03-21T04:05:00,0.0,82.6,82.592958,0.104425,NaN
1461187200000,2016-04-20T21:20:00,0.0,81.3,81.344583,0.363239,NaN
1458418800000,2016-03-19T20:20:00,0.0,79.6,79.586000,0.072369,NaN
1458574800000,2016-03-21T15:40:00,0.0,79.1,79.117458,0.141802,NaN
1458541500000,2016-03-21T06:25:00,0.0,76.0,76.040500,1.589248,NaN
1458577200000,2016-03-21T16:20:00,0.0,74.2,75.338042,1.975658,NaN
1458545700000,2016-03-21T07:35:00,0.0,78.6,78.584700,0.125947,NaN
1458549600000,2016-03-21T08:40:00,0.0,77.5,77.529375,0.079107,NaN
1458554100000,2016-03-21T09:55:00,0.0,77.7,77.726500,0.066941,NaN
1458551700000,2016-03-21T09:15:00,0.0,77.3,77.287694,0.113388,NaN
1458562200000,2016-03-21T12:10:00,0.0,82.6,82.627722,0.055910,NaN
1458566400000,2016-03-21T13:20:00,0.0,80.0,80.015222,0.571909,NaN
1458568800000,2016-03-21T14:00:00,0.0,80.7,80.698167,0.065294,NaN
1458591900000,2016-03-21T20:25:00,0.0,80.5,80.552750,1.543586,NaN
1458597000000,2016-03-21T21:50:00,0.0,78.1,78.145000,0.065942,NaN
1458599700000,2016-03-21T22:35:00,0.0,80.5,80.534556,0.085149,NaN

In [25]:
a.to_pickle("raw_data_1")

In [39]:
a.sort_index(inplace=True)

In [26]:
# tp = a.loc[a['throughput'] != NaN]

NameError: name 'NaN' is not defined

In [40]:
t = a[a.throughput.notnull()]

In [41]:
t

,iso_8601,packet_loss,delay_median,delay_mean,delay_sd,throughput
1451675090000,2016-01-01T19:04:50,NaN,NaN,NaN,NaN,105920000.0
1451805042000,2016-01-03T07:10:42,NaN,NaN,NaN,NaN,606593000.0
1452076266000,2016-01-06T10:31:06,NaN,NaN,NaN,NaN,625393000.0
1452158122000,2016-01-07T09:15:22,NaN,NaN,NaN,NaN,460065000.0
1452661247000,2016-01-13T05:00:47,NaN,NaN,NaN,NaN,527882000.0
1452753236000,2016-01-14T06:33:56,NaN,NaN,NaN,NaN,308804000.0
1452794779000,2016-01-14T18:06:19,NaN,NaN,NaN,NaN,239490000.0
1453975840000,2016-01-28T10:10:40,NaN,NaN,NaN,NaN,552811000.0
1454047943000,2016-01-29T06:12:23,NaN,NaN,NaN,NaN,167993000.0
1454706290000,2016-02-05T21:04:50,NaN,NaN,NaN,NaN,681488000.0
1455685821000,2016-02-17T05:10:21,NaN,NaN,NaN,NaN,478631000.0
1457834437000,2016-03-13T02:00:37,NaN,NaN,NaN,NaN,372403000.0
1457957675000,2016-03-14T12:14:35,NaN,NaN,NaN,NaN,521584000.0
1457988464000,2016-03-14T20:47:44,NaN,NaN,NaN,NaN,513903000.0
1458067293000,2016-03-15T18:41:33,NaN,NaN,NaN,NaN,507509000.0
1458905628000,2016-03-25T11:33:48,NaN,NaN,NaN,NaN,354264000.0
1458981956000,2016-03-26T08:45:56,NaN,NaN,NaN,NaN,664613000.0
1459623582000,2016-04-02T18:59:42,NaN,NaN,NaN,NaN,269639000.0
1461654114000,2016-04-26T07:01:54,NaN,NaN,NaN,NaN,18880500.0
1462809815000,2016-05-09T16:03:35,NaN,NaN,NaN,NaN,215756000.0
1463664480000,2016-05-19T13:28:00,NaN,NaN,NaN,NaN,405914000.0

In [43]:
t.shape

(21, 6)

In [45]:
# print(t.iloc(0))

<pandas.core.indexing._iLocIndexer object at 0x7f2d0473b320>

In [48]:
# tt = t.iloc(0)['index']

TypeError: cannot do positional indexing on <class 'pandas.indexes.numeric.Int64Index'> with these indexers [index] of <class 'str'>

In [86]:
dataframe_size = a.shape
dataframe_size
p = pd.DataFrame()
for r in range(dataframe_size[0]):
    if not math.isnan(a.iloc[r]['throughput']):
        if (r != 0) and (r != dataframe_size[0] - 1):
            p = p.append(a.iloc[r-1])
            p = p.append(a.iloc[r])
            p = p.append(a.iloc[r+1])

In [87]:
p

,delay_mean,delay_median,delay_sd,iso_8601,packet_loss,throughput
1451674500000,84.436417,84.4,1.625300,2016-01-01T18:55:00,0.0,NaN
1451675090000,NaN,NaN,NaN,2016-01-01T19:04:50,NaN,105920000.0
1451676600000,83.418900,83.4,0.112425,2016-01-01T19:30:00,0.0,NaN
1451803200000,76.117833,76.1,0.087742,2016-01-03T06:40:00,0.0,NaN
1451805042000,NaN,NaN,NaN,2016-01-03T07:10:42,NaN,606593000.0
1451805600000,83.026250,83.0,0.049016,2016-01-03T07:20:00,0.0,NaN
1452072900000,83.264583,83.0,1.278601,2016-01-06T09:35:00,0.0,NaN
1452076266000,NaN,NaN,NaN,2016-01-06T10:31:06,NaN,625393000.0
1452076800000,83.504767,83.8,0.435217,2016-01-06T10:40:00,0.0,NaN
1452157200000,82.699056,82.4,1.656276,2016-01-07T09:00:00,0.0,NaN
1452158122000,NaN,NaN,NaN,2016-01-07T09:15:22,NaN,460065000.0
1452159300000,82.950278,82.9,0.151840,2016-01-07T09:35:00,0.0,NaN
1452657600000,81.653000,81.7,0.065760,2016-01-13T04:00:00,0.0,NaN
1452661247000,NaN,NaN,NaN,2016-01-13T05:00:47,NaN,527882000.0
1452661800000,84.640500,82.7,6.741375,2016-01-13T05:10:00,0.0,NaN
1452752100000,82.694944,82.7,0.048557,2016-01-14T06:15:00,0.0,NaN
1452753236000,NaN,NaN,NaN,2016-01-14T06:33:56,NaN,308804000.0
1452753900000,82.698028,82.7,0.092370,2016-01-14T06:45:00,0.0,NaN
1452794400000,83.936100,83.9,0.052027,2016-01-14T18:00:00,0.0,NaN
1452794779000,NaN,NaN,NaN,2016-01-14T18:06:19,NaN,239490000.0
1452796500000,82.475389,82.5,0.130042,2016-01-14T18:35:00,0.0,NaN
1453975800000,81.630000,81.6,0.077388,2016-01-28T10:10:00,0.0,NaN
1453975840000,NaN,NaN,NaN,2016-01-28T10:10:40,NaN,552811000.0
1453978200000,81.306000,81.3,0.066312,2016-01-28T10:50:00,0.0,NaN
1454047500000,83.093667,83.1,0.079540,2016-01-29T06:05:00,0.0,NaN
1454047943000,NaN,NaN,NaN,2016-01-29T06:12:23,NaN,167993000.0
1454049600000,83.304500,83.3,0.062332,2016-01-29T06:40:00,0.0,NaN
1454703300000,88.776667,88.8,0.167796,2016-02-05T20:15:00,0.0,NaN
1454706290000,NaN,NaN,NaN,2016-02-05T21:04:50,NaN,681488000.0
1454708100000,88.553433,88.5,0.133996,2016-02-05T21:35:00,0.0,NaN
...,...,...,...,...,...,...
1457829600000,81.334167,81.3,0.061706,2016-03-13T00:40:00,0.0,NaN
1457834437000,NaN,NaN,NaN,2016-03-13T02:00:37,NaN,372403000.0
1457844300000,80.734250,80.7,0.059458,2016-03-13T04:45:00,0.0,NaN
1457950200000,80.808333,80.8,0.095728,2016-03-14T10:10:00,0.0,NaN
1457957675000,NaN,NaN,NaN,2016-03-14T12:14:35,NaN,521584000.0
1457958000000,74.953667,74.9,0.084182,2016-03-14T12:20:00,0.0,NaN
1457963700000,77.248300,77.2,0.466244,2016-03-14T13:55:00,0.0,NaN
1457988464000,NaN,NaN,NaN,2016-03-14T20:47:44,NaN,513903000.0
1457991300000,77.652708,77.6,0.242472,2016-03-14T21:35:00,0.0,NaN
1458058800000,83.871083,81.1,6.632357,2016-03-15T16:20:00,0.0,NaN
1458067293000,NaN,NaN,NaN,2016-03-15T18:41:33,NaN,507509000.0
1458067500000,73.045292,73.0,0.100430,2016-03-15T18:45:00,0.0,NaN
1458904800000,77.486167,77.5,0.287701,2016-03-25T11:20:00,0.0,NaN
1458905628000,NaN,NaN,NaN,2016-03-25T11:33:48,NaN,354264000.0
1458917100000,81.355333,81.4,0.066994,2016-03-25T14:45:00,0.0,NaN
1458980100000,72.109500,72.1,0.072294,2016-03-26T08:15:00,0.0,NaN
1458981956000,NaN,NaN,NaN,2016-03-26T08:45:56,NaN,664613000.0
1458982200000,79.528667,79.5,0.056964,2016-03-26T08:50:00,0.0,NaN
1459607400000,79.992667,80.0,0.085125,2016-04-02T14:30:00,0.0,NaN
1459623582000,NaN,NaN,NaN,2016-04-02T18:59:42,NaN,269639000.0
1459626600000,82.077667,82.1,0.098241,2016-04-02T19:50:00,0.0,NaN
1461652800000,74.575083,74.5,0.734600,2016-04-26T06:40:00,0.0,NaN
1461654114000,NaN,NaN,NaN,2016-04-26T07:01:54,NaN,18880500.0
1461654900000,78.670500,75.3,11.746545,2016-04-26T07:15:00,0.0,NaN
1462809000000,81.957583,81.2,2.140925,2016-05-09T15:50:00,0.0,NaN
1462809815000,NaN,NaN,NaN,2016-05-09T16:03:35,NaN,215756000.0
1462811400000,81.594000,81.5,1.414460,2016-05-09T16:30:00,0.0,NaN
1463661900000,77.809433,77.8,0.103960,2016-05-19T12:45:00,0.0,NaN
1463664480000,NaN,NaN,NaN,2016-05-19T13:28:00,NaN,405914000.0
1463667000000,76.557292,76.6,0.107379,2016-05-19T14:10:00,0.0,NaN